html{
    background-color:lightgrey;
    
}
a{
    text-decoration: none;
}
nav{
    display:fixed;
    justify-content:space-around;
    width:100%;
    height:80px;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    color:white;
    opacity: 75%;
    text-align:center;
    }
    label.name{
        color:white;
        font-size:40px;
        line-height:80px;
        padding:0 100px;
        font-weight:bold;
    }
    nav ul{
        float:right;
        
    }

    nav ul li{
        display:inline-block;
        line-height:80px;
        margin: 0 5px;
    }
    nav ul li a{
        color: white;
        font-size:17px;
        text-transform: uppercase;
        margin:40px;
        /* padding:40px; */
        
    }

    .logo{
        display:block;
        width:25%;
        height:200px;
        padding-top:100px;
         object-fit:cover;
         object-position: center center;

     }
     .title{
        text-align:center;
        margin:20px;
        padding:10px;
        display:flex;
        flex-direction:column;
        align-items: center;
        width:100%;
     }
     .mainpic{
        display:block;
        width:800px;
        height:400px;
        padding-top:10px;
        flex-direction:column;
     }
     .img{
        height:400px;
        width:400px;
        object-fit:cover;
        object-position: center center;
    }


table, th, td{
    border:1px solid black;
    margin-left:auto;
    margin-right:auto;
    padding:20px;
    margin-top: 20px;
    width:75%;
    background-color:lightsteelblue;
    text-align: center;
}




@media only screen  and (max-width: 768px){
    ul{
        background-color:black;
        width:100%;
    }
    .logo{
        width:300px;
        height:auto;
    }
    li{
        flex-wrap: nowrap;
    }
    nav ul li a{
        margin:17px;
    }
    
        
    label.name{
      font-size:20px;
    }
    .mainpic{
        width:500px;
        height:auto;
        align-items: center;
        
    }
    .title{
        align-items:center;
    }
 
  

  

}
@media only screen  and (min-width:768px) and (max-width: 1200px){



    ul{
        background-color: black;
        width:100%;
        
    }

    .title{
        background-color:lightgray;
        min-width:50px;
        min-height:50px;
        object-fit:cover;
        grid-column: 1 / 3;
        align-items: center;
        
        
     }
     .logo{
         width:500px;
         height:auto;
         text-align:center;
     }
   
    .img{
        height:250px;
        width:250px;

    
    }
    .story{
       
        display:grid;
        grid-template-columns:repeat(2, 1fr);
        grid-gap:10px;
        grid-auto-rows:minmax(100px,auto);
        grid-template:auto;
       
    }

    .mainpic{
        grid-column:1 /2;
        grid-row:2;
        width:500px;
        height:auto;
        padding:20px;
       
    }
    .h1story{
        grid-column:1/3;
        grid-row:1;
        text-align:center;
      
    }
    .pstory{
        grid-column:2/3;
        grid-row:2;
        
    }
    .tacos{
        
        display:grid;
        grid-template-columns:repeat(3, 1fr);
        grid-gap:10px;
        grid-auto-rows:minmax(100px,auto);
        grid-template:auto;
        text-align:center;
}
    .ourtacos{
        grid-row:1;
        text-align:center;
    }
    .taco1{
        grid-column:1/2;
        grid-row:2;
    }
    .taco2{
        grid-column:2/3;
        grid-row:2;
    }
    .taco3{
        grid-column:3/4;
        grid-row:2;
    }
    .taco4{
        grid-column:1/2;
        grid-row:3;
    }
    .taco5{
        grid-column:2/3;
        grid-row:3;
    }
    .taco6{
        grid-column:3/4;
        grid-row:3;
    }
    


    .menu{
        margin-bottom:20px;
        text-align:center;
        align-items: center;
    }


}
@media only screen  and (min-width:1200px){
html{
    text-align:center;
}

.logo{
    width:800px;
    height:auto;
}
 .story{
     display:grid;
     grid-template-columns: 1/2;
     grid-gap:10px;
     grid-auto-rows:minmax(100px,auto);
     grid-template:auto;
     
 }
 .mainpic{
    grid-column:1 /2;
    grid-row:1;
    width:500px;
    height:auto;
    padding:20px;
   
}


.pstory{
    grid-row:1;
    grid-column:2/3;
    width:75%;
    align-items:right;
    
    
}
    .tacos{
        
        display:grid;
        grid-template-columns:repeat(3, 1fr);
        grid-gap:10px;
        grid-auto-rows:minmax(100px,auto);
        grid-template:auto;
        text-align:center;
}
   
    .taco1{
        grid-column:1/2;
        grid-row:1;
    }
    .taco2{
        grid-column:2/3;
        grid-row:1;
    }
    .taco3{
        grid-column:3/4;
        grid-row:1;
    }
    .taco4{
        grid-column:1/2;
        grid-row:2;
    }
    .taco5{
        grid-column:2/3;
        grid-row:2;
    }
    .taco6{
        grid-column:3/4;
        grid-row:2;
    }
    
    .menu{
        text-align:center;
        margin-bottom:20px;
    }
    
    





}