  
html{
    background-color: rgb(168, 159, 247);
    font-family: 'Sansita Swashed', cursive;
}
nav{
    position:fixed;
    width:100%;
    height:80px;
    background:#42455a;
    color:white;
    }
    label.logo{
        color:black;
        font-size:35px;
        line-height:80px;
        padding:0 100px;
        font-weight:bold;
    }
    nav ul{
        float:right;
        margin-right:20px;
    }
     nav ul li{
        display:inline-block;
        line-height:80px;
        margin: 0 5px;
    }
    nav ul li a{
       color: black;
       font-size:17px;
       text-transform: uppercase;
    }
    a.active,a:hover{
        background: lightgrey;
        transition: .5s;
    }
   .mainpic{
   display:block;
   margin-left:auto;
   margin-right:auto;
   width:100%;
}
h1{
    text-align: center;
}
h3{
    text-align:center;
}
.title{
    border:solid 2px black;
    margin:10px;
    padding:10px;
    background-color:lightslategrey;
}

.Picleft{
    max-width:50%;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    display:block;
    padding:25px;
    
 }

 .CentralPic{
    max-width:50%;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    display:block;
    padding:20px;
    
 }
 .SouthPic{
    max-width:50%;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    display:block;
    padding:25px;
    
 }
main{
    text-align:center;
    display:block;
    margin: 0 auto;
    padding:50px;
}
table, th, td{
    border:1px solid black;
    margin-left:auto;
    margin-right:auto;
    padding:20px;
    margin-top: 20px;
    width:75%;
    background-color:lightsteelblue;
}
ul{
    list-style-type: none;
    
}
iframe{
    padding:25px;
}
p{text-align:left;
    padding:50px;

}



