h1 {
  color: darkgreen;
  text-align: center;
  
}


.header  {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}
a {
  text-decoration: none;
}
h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
div.like {
  text-transform: uppercase;
}
img {
  float: left;
  padding-right: 25px;
  width: 250px;
  height: auto;
}
main {
  font-size: 20;
  line-height: 40px;
}
ul {
  font-size: 20;
}
#name{
    font-weight: bold;
}